include LICENSE
include README.md
include requirements.txt
include .env.example

recursive-include static *
recursive-include templates *
recursive-include data .gitkeep

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .git*
global-exclude .env
global-exclude *.db
global-exclude *.sqlite3
global-exclude *.sqlite 